 .mainTitle{
    -fx-font-family: "Ubuntu";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: rgb(255, 255, 255);
}
.normalText{
    -fx-font-family: "Ubuntu";
    -fx-font-size: 14px;
    -fx-text-fill: rgb(255, 255, 255);
}
.button{
    -fx-background-color : rgb(213, 20, 62) ;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}
.button-menu{
    -fx-background-color :none ;
    -fx-border-color: rgb(29, 39, 68) ;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}
.back1 {
    -fx-background-color : rgb(17, 25, 49);
}
.back2 {
    -fx-background-color : rgb(29, 39, 68);
}
.text-field{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color : rgb(109, 120, 151);
}

#board{
    -fx-background-radius:5 5 5 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: rgb(17, 25, 49);
}

.menu-item:focused .label {
    -fx-text-fill: rgb(213, 20, 62);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgb(17, 25, 49);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}
